@import "../../../styles/mixins";
@import "../../../styles/variables";

.aboutBody {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px 0 20px 0;

  // *** Responsive *** //

  @include tabletMinBreakPoint {
    width: $screen-tablet;
  }

  @include laptopMinBreakPoint {
    width: $screen-laptop;
    gap: 30px;
  }

  @include largeMinBreakPoint {
    width: $screen-large;
  }
}